<div class="container">
  <div class="calculator">
    <div class="item input">
      <form name="form">
        <input type="text" name="answer" [ngModel]="value" readonly>
      </form>
    </div>
    <div class="item clear" (click)="clearAll()">C</div>
    <div class="item del" (click)="delLast()">&larr;</div>
    <div class="item" (click)="action('+')">+</div>
    <div class="item" (click)="action('-')">-</div>
    <div class="item" (click)="action('*')">&times;</div>
    <div class="item" (click)="action('/')">&divide;</div>
    <div class="item" (click)="action('7')">7</div>
    <div class="item" (click)="action('8')">8</div>
    <div class="item" (click)="action('9')">9</div>
    <div class="item" (click)="action('(')">(</div>
    <div class="item" (click)="action('4')">4</div>
    <div class="item" (click)="action('5')">5</div>
    <div class="item" (click)="action('6')">6</div>
    <div class="item" (click)="action(')')">)</div>
    <div class="item" (click)="action('1')">1</div>
    <div class="item" (click)="action('2')">2</div>
    <div class="item" (click)="action('3')">3</div>
    <div class="item sum" (click)="getResult()">=</div>
    <div class="item zero" (click)="action('0')">0</div>
    <div class="item" (click)="action('.')">.</div>
  </div>
</div>
